@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #020202;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-bricolage-grotesque);
  --font-serif: var(--font-playfair-display);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
